/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;
@use "app/theme-colors" as gg-theme;

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.error {
  display: flex;
  align-items: center;
  border: 2px solid gg-theme.get-palette-color(gg-theme.$error-palette, 25);
  background-color: gg-theme.get-palette-color(gg-theme.$error-palette, 80);
  padding: 0 20px;
  font-size: larger;
  border-radius: 8px;
  color: gg-theme.get-palette-color(gg-theme.$error-palette, 30);
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}

mat-header-row {
  background-color: gg-theme.get-palette-color(gg-theme.$primary-palette, 30) !important;
  color: gg-theme.get-palette-color(gg-theme.$neutral-palette, 96) !important;
}

mat-footer-row {
  background-color: gg-theme.get-palette-color(gg-theme.$secondary-palette, 90) !important;
}

mat-header-row * {
  font-weight: bold !important;
}

:root {
  @include mat.toolbar-overrides((
    container-background-color: gg-theme.get-palette-color(gg-theme.$primary-palette, 40),
    container-text-color: gg-theme.get-palette-color(gg-theme.$neutral-palette, 96),
    title-text-weight: bold,
  ));

  @include mat.table-overrides((
    background-color: gg-theme.get-palette-color(gg-theme.$primary-palette, 95),
  ))
}
